<div class="grade">

  <div class="">
    <img id="grade-{{this.name}}" src="img/grade-{{this.name}}_complete.png" alt="" />
  </div>
  <div class="">
    <div class="grade-number">
      {{this.completed}}/{{this.overall}}
    </div>
  </div>
</div>
